body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.products, .cart {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
}

.product {
    margin-bottom: 20px;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
